POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gameforum

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=root

MAIL_PROVIDER_USERNAME=
MAIL_PROVIDER_PASSWORD=

POSTGRES_PORT=5432
POSTGRES_URL=

JWT.SECRET.KEY=ca25ed5b9c4b61b25d2fec209b60715f057f6d167195a98209c8536aa4e890b4

FRONTEND_URL=